

<div id="<%= dom_id like %>" class="card-like" style="width: 18rem;">
  <img src="<%= like.image %>" class="card-img-top" alt="likePhoto">
  <div class="card-body">
    <h5 class="card-title"><%= like.caption  %></h5>
    <p><%= like.category.name %></p>
  </div>
</div>
