<div class="container d-flex justify-content-center flex-wrap">
  <h3 class="card-title m-4"> <%= photo.caption %></h3>
  <div class="card m-2" style="width: 100%; height: 600px;">
    <img src="<%= photo.image %>" alt="Photo" class="card-img-top" style="height: 100%; width: 100%; object-fit: cover;">
  </div>
</div>
